/* Colors:
Dark Blue - #2e4461
Medium Blue - #6490CB
Light Blue - #C6C9D0
Pink - #ED528B
*/

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    letter-spacing:1px;
}

.outter-wrapper {
    height:100vh;
    position: relative;
}

.inner-wrapper {
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #2e4461;
    padding:20px;
    border-radius: 15px;
}

.coin-section{
    position: relative;
    margin-bottom:30px;
}

.coin-section__coin-image {
    padding-top:60px;
    border-radius: 100px;
    box-shadow:  0px 5px rgb(60, 60, 60);;
}

#flipping-coin{
    display:none;
    -webkit-animation: anim .5s infinite linear;
    backface-visibility: visible !important;
    animation: anim .5s infinite linear;
}

.stat-section__container {
    position: relative;
    width:33%;
}

.stat-section__num {
    color: #ED528B;
}

.stat-section__text {
    color: #C6C9D0;
}

.stat-section__right-divider {
    position: absolute;
    top:50%;
    right:0;
    transform: translate(-50%, -50%);
    width:2px;
    background-color: #C6C9D0;
}

.stat-section__left-divider {
    position: absolute;
    top:50%;
    left:0;
    transform: translate(-50%, -50%);
    width:2px;
    background-color: #C6C9D0;
}

.btn {
    border-radius: 100px;
    color: #fff;
}

#btn-main {
    background-color: #ED528B;
    box-shadow: 0px 5px rgba(237, 82, 139, 0.75);
    width: 300px;
    height:45px;
}

#btn-reset {
    background-color: #6490CB;
    box-shadow: 0px 5px rgba(100, 144, 203, 0.76);
    width: 80px;
    height:45px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .inner-wrapper {
        height:100vh;
        width:100%;
        border-radius: 0;
    }
}

/* Flipping Coin Animation */

@keyframes anim {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
}

/* Button Pop Animation */

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    animation-name: hvr-pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}