body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
#main-wrapper {
    height:100vh;
    /*background-color: red;*/
    position: relative;
}
#inner-wrapper {
    /*height:100vh;*/
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /*background-color: #FCFDFF;*/
    background-color: #2e4461;
    padding-top:60px;
    border-radius: 15px;
}
#coin-wrapper {
    /*background-color: lightgrey;*/
    position: relative;
    margin-bottom:30px;
}
img {
    /*box-shadow: 0px 8px #40689e5c;*/
    box-shadow: 0px 8px rgba(100, 144, 203, 0.3);
    border-radius: 100px;
}
#static-coin {
    margin-top:60px;
}

#flipping-coin, #coin {
    margin-top:60px;
}

#stats-main-wrapper {
    /*background-color: slategrey;*/
}
.stats-wrapper {
    position: relative;
    width:33%;
}
.stats-divider-right {
    width:2px;
    background-color: #C6C9D0;
    position: absolute;
    top:25px;
    right:0;
    display: inline-block;
}
.stats-divider-left {
    width:2px;
    background-color: #C6C9D0;
    position: absolute;
    top:25px;
    left:0;
    display: inline-block;
}
#main-button-wrapper {
    /*background-color: #fff;*/
    clear: both;
}
#button {
    background-color: #ED528B;
    width: 300px;
    height:45px;
    border:0;
    border-radius: 30px;
    box-shadow: 0px 8px rgba(237, 82, 139, 0.75);
}
#reset-button-wrapper {
    /*background-color: blue;*/
}
#reset-btn {
    background-color: #6490CB;
    width: 80px;
    height:45px;
    border:0;
    border-radius: 30px;
    margin-left:22px;
    padding-bottom:10px;
    box-shadow: 0px 8px rgba(100, 144, 203, 0.76);
}
.stats-num {
    color: #ED528B;
}
.stats-text {
    color: #C6C9D0;
}
#flipping-coin{
    display:none;
    -webkit-animation: anim .5s infinite linear;
    backface-visibility: visible !important;
    animation: anim .5s infinite linear;
}
@-webkit-keyframes anim {
    from {-webkit-transform: rotateX(0deg);}
    to {-webkit-transform: rotateX(360deg);}
}
@keyframes anim {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
}
@media only screen and (max-width: 600px) {
    #inner-wrapper {
        height:100vh;
        width:100%;
        border-radius: 0;
    }
}

/* Pop */
@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
.hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}




